* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    background: #ddd;
    padding: 10px;
}

.container {
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.add-task,
.show-task {
    position: relative;
    padding: 10px;
    width: 100%;
    background: #fff;
}
.show-task {
    display: none;
}

.title-task {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #111;
}

.add-task form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
}

.add-task form .input {
    padding: 10px;
    display: block;
    width: 100%;
    border: 1px solid #000;
    border-radius: 4px;
    background: transparent;
    outline: none;
    color: #000;
}

.btns {
    display: flex;
    justify-content: space-between;
}

.btns button {
    padding: 10px 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: rgb(150, 6, 150);
    color: #fff;
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

ul li {
    display: flex;
    align-items: center;
    cursor: grab;
    justify-content: space-between;
    background: rgb(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 4px;
}
ul li:active {
    cursor: grabbing;
}

ul li p small {
    padding: 3px 5px;
    border-radius: 5px;
}

ul li.success p small {
    background: rgba(16, 170, 16, 0.262);
    color: green;
}

ul li.warning p small {
    background: rgba(255, 242, 0, 0.294);
    color: rgb(178, 168, 23);
}

ul li.danger p small {
    background: rgba(206, 18, 18, 0.396);
    color: rgb(230, 8, 8);
}

.del-task {
    border: none;
    padding: 5px;
    cursor: pointer;
    background: none;
    color: rgb(230, 8, 8);
    font-size: 30px;
}

ul li.archived {
    opacity: 0.4;
}

ul li.archived p span {
    color: rgb(128, 17, 17);
    text-decoration: line-through;
}

.box-filter {
    position: absolute;
    background: #000000b5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 4;
}

.filter {
    background: #fff;
    padding: 10px;
    width: 200px;
    border-radius: 3px;
    display: none;
    position: absolute;
    z-index: 10;
    left: 50%;
    height: 100%;
    max-height: 220px;
    transform: translate(-50%, 0);
    flex-direction: column;
    gap: 10px;
    overflow-x: auto;
}

.filter::-webkit-scrollbar {
    width: 8px;
}
.filter::-webkit-scrollbar-thumb {
    background: #000;
}

.filter button {
    background: none;
    transition: all .3s;
    cursor: pointer;
    border: none;
    padding: 8px;
    border-radius: 4px;
}
.filter button:hover {
    background: #00000022;
}

.center {
    text-align: center;
}